@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .background {
    background-image: url("https://media.giphy.com/media/W5UoBN0YMdT1QP8Yfr/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 105vh;
    min-height: contain;
    color: white;
  }
  .neon {
    color: #00ff41;
    text-shadow: 0 0 5px #fff, 0 0 20px #49ff18, 0 0 55px #49ff18,
      0 0 75px #49ff18, 2px 2px 2px rgba(206, 89, 55, 0);
    font-size: 3rem;
    line-height: 3rem;
    padding: 0.5rem 1rem;
  }
  ,
  .button-font {
    font-size: 1.5rem;
  }
}
